.flex.p-5.border-t-8.justify-between{class: 'border-[#77a5ff]'}
  %h1.text-xl
    = link_to "Dashy McDashboard", root_path
  .hidden.md:flex
    - if logged_in?
      .flex
        .mr-2
          = button_to "Logout", session_path, method: :delete, class: ['text-[#5197ff]', 'hover:underline']
        %span /
        .ml-2
          = link_to "Settings", settings_path
    - else
      .flex
        = link_to "Register", registration_path
        %span /
        = link_to "Login", login_path